<h2><i class="fas fa-book-reader" ></i> Dairy</h2>
<div class="section">
    <p class="lead"> Write your public or private stories from your life. </p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class='btn red darken-1'>
        <i class="fab fa-google left"></i>LOG IN WITH GOOGLE
    </a>
</div>