p{
    margin: 10px 0;
}

.login-container{
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

/* .halfway-fab{
    font-size:16px !important;
} */
.fa-small{
    font-size: 16px !important; 
}
.fas{
    size:10px !important;
}
.btn-float{
    size:20px !important; 
    float:left;
    margin-right: 10px;
}

.img-small{
    width:180px;
}

.nav-wrapper{
    text-align: center;
    font-size:30px;
}